# Config
Config/autostart
Config/dconf
Config/eww_my
Config/fcitx
Config/fcitx5
Config/francophonie
Config/GIMP
Config/gnvim
Config/knvim
Config/go-musicfox
Config/hypr/hyprland/plugins
Config/mpv/watch_later
Config/gtk-3.0
Config/ibus
Config/light
Config/lnvim
Config/nvim
Config/tmux
Config/vimiv/plugins
Config/music-you
Config/nvim_new
Config/zsh.d/zi.d/zi
Config/pulse
Config/QQ
Config/xfce4
Config/user-dirs.dirs
Config/user-dirs.locale
Config/ranger/plugins/zoxide
Config/ranger/plugins/ranger_devicons

# Home
Home/.gitconfig
Home/.histfile
Home/.ssh
Home/Picture/mypictures
Home/Documents
Home/Picture/Screenshots/bspwm
Home/Picture/Screenshots/KDE
Home/Mozilla
