[Unit]
Description=Update geosite geoip

[Service]
Type=oneshot
ExecStart=updategeo
; Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
